name: Continuous Integration for the main branch

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libssl-dev cmake libboost-all-dev libpaho-mqtt* libgtest-dev libgmock-dev

    - name: Build main code
      run: |
        mkdir -p build
        cd build
        cmake ..
        make
      working-directory: proxy/

    - name: Run unit tests of config module
      run: |
        mkdir -p build
        cd build
        g++ ../config.cpp ../configTest_main.cpp ../configTest_testCases.cpp -o configTest -lgtest -lgtest_main -lgmock -pthread
      working-directory: proxy/unitTest/configTest

    - name: Run unit tests of proxy module
      run: |
        mkdir -p build
        cd build
        g++ ../proxy.cpp ../proxyest_main.cpp ../proxyTest_testCases.cpp -o configTest -lgtest -lgtest_main -lgmock -pthread -lpaho-mqttpp3 -lpaho-mqtt3a
      working-directory: proxy/unitTest/configTest
